<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.cafebazaar.poolakey">

    <queries>
        <package android:name="${marketApplicationId}" />
    </queries>

    <uses-permission android:name="${marketPermission}" />

    <application>
        <meta-data
            android:name="market_id"
            android:value="${marketApplicationId}" />
        <meta-data
            android:name="market_bind"
            android:value="${marketBindAddress}" />
        <meta-data
            android:name="market_hash"
            android:value="${marketHash}" />
        <meta-data
            android:name="market_receiver"
            android:value="${marketReceiverClass}" />
        <meta-data
            android:name="market_receiver_min"
            android:value="${marketReceiverMinVersion}" />
        <meta-data
            android:name="market_feature_min"
            android:value="${marketFeatureConfigMinVersion}" />
        <meta-data
            android:name="market_subs"
            android:value="${marketSupportsSubscription}" />
        <meta-data
            android:name="market_trial"
            android:value="${marketSupportsTrial}" />

        <receiver android:name=".receiver.BillingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="${marketApplicationId}.purchase" />
                <action android:name="${marketApplicationId}.billingSupport" />
                <action android:name="${marketApplicationId}.consume" />
                <action android:name="${marketApplicationId}.getPurchase" />
                <action android:name="${marketApplicationId}.skuDetail" />
                <action android:name="${marketApplicationId}.checkTrialSubscription" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
